h1{
	background-image: url("../images/flatearth.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100%;
	padding: 100px;
	text-align: center;
	font-size: 60px;
	font-family: Broadway Regular;
	color: #8BDFF7;
	clear: both;
	margin: 0 auto;
	margin-bottom: 3px;
}
.wrapper{
	width: 80%;
	background-color: #8BDFF7;
	padding: 20px;
	margin: 0 auto;
	border: 15px solid #150811;
	clear: both;
}
footer{
	margin-top: 20px;
	background-color: #150811;
	text-align: center;
	padding: 10px;
}
h2{
	color: #380036;
	font-family: Arial;
	font-size: 45px;
}
p{
	color: #065555;
	font-family: Arial;
	font-size: 35px;
}
ul{
	color: #065555;
	font-family: Arial;
	font-size: 35px;
}
.logo{
	margin: 0 auto;
	padding: 10px;
}
body{
	background-color: #0CBABA;
}
.sticky{
 	position: sticky;
  	top: 0;
  	padding: 2px 20px 2px 20px;
  	text-align: center;
  	background-color: #150811;
  	color: #88dff7;
  	margin: 0px;
}
a{
	color: #065555;
	font-family: Arial;
	font-size: 35px;
}