.wrapper{
	background-color: #544c50;
	border: 30px solid #FF934F;
	width: 75%;
	margin: 0 auto;
	padding-top: -32px;
}
.inside{
	border: 15px solid #F7ff58;
}
section{
	padding-left: 25px;
	padding-right: 25px;
	color: #F7ff58;
	margin-left: 10 auto;
	margin-right: 10 auto;
	font-size: 30px
}
p{
	color: #b6dbc5;
	font-size: 20px;
	font-family: Maiandra GD Regular;
}
h1{
	font-size: 50px;
	margin-bottom: 15;
	font-family: Poor Richard Regular;
	text-decoration: underline;
	text-decoration-color: #FF934F;
	text-decoration-style: double;
}
h2{
	color: #A4BC95;
	font-size: 45px;
	font-family: Poor Richard Regular;
}
.title{
	text-align: center;
	color: #F7ff58;
	font-size: 70px;
	margin-bottom: 5px;
}
footer{
	background-color: #544c50;
	margin: 0 auto;
	padding-bottom: 32px;
}
.foot{
	text-align: center;
	padding-bottom: 40px;
	padding-top: 5px;
}
img{
	float: right;
	clear: right;
	padding: 5px;
	width: 51%;
	border: 5px solid #FF934F;
	margin: 5px;
}
body{
	background-color: #A4BC95;
}
.logo{
	display: block;
	margin: auto;
	float: none;
	clear: none;
	padding: 0;
	width: 300px;
}
.clearfix::after{
	content: ".";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}